
.game {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /*justify-content: center;*/
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu button {
  width: 200px;
  height: 30px;
}

.game-grid {
}

.game-grid.time-machine-prepared {
  border: 3px black solid;
}

.here {
  background-color: red;
}

.active {
  border: 3px solid black;
}

.tile {
  width: 100px;
  height: 100px;
  outline: 1px solid red;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 90px;
  font-family: arial, helvetica, sans-serif;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
